<!-- <style>
  .searchbox input {
    background: transparent;
    border-radius: 22px;
    width: 600px;
    height: 45px;
    padding-left: 10px;
  }
  .searchbox {
    padding-left: 200px;
  }
</style> -->
<nav
  class="navbar navbar-expand-lg bg-body-light border-bottom border-top sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="/listings"
      ><i class="fa-regular fa-compass comp"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><h3>WanderLust</h3></a>
      </div>
      <!-- <div class="searchbox"><input type="text" placeholder="Search" /></div> -->

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">List your home</a>
        <% if (!currUser) { %>
        <a class="nav-link" href="/signup"><b>SignUp</b> </a>
        <a class="nav-link" href="/login"><b>LogIn</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>LogOut</b></a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
